In [1]:
# some important funcs
# recursive func
# lambda func:- map, filter, reduce
# decorator func
# generator func

In [2]:
# some important functions

In [3]:
# fibonacci numbers
# max
# min
# count
# palindrome
# check_prime
# check_armstrong
# anagram
# reverse list
# give_prime
# give_armstrong
#

In [4]:
# max

a = [23,4,532,6,7]

max(a)

532

In [5]:
def maxx(data):
    my_max = data[0]
    
    for i in data:
        if i>my_max:
            my_max = i
    
    return my_max

In [6]:
a = [21,34,532,456,75,324456,7,5435]

max(a)

324456

In [9]:
maxx(a)

324456

In [10]:
def minn(data):
    my_min = data[0]
    
    for i in data:
        if i<my_min:
            my_min = i
    
    return my_min

In [11]:
a = [23,45,5432,456,65,35]

min(a)

23

In [12]:
minn(a)

23

In [13]:
a = [23,45,32,56,4,324,56,789,765,543,4546,7898,78]

len(a)

13

In [14]:
def count_data(data):
    ans = 0
    
    for i in data:
        ans += 1
    return ans

In [16]:
a = [23,54,32,456,4,35689,765,543,456797,65465,4578]

len(a)

11

In [17]:
count_data(a)

11

In [18]:
# palindrome
# check_prime
# check_armstrong
# anagram
# reverse list
# give_prime
# give_armstrong

In [28]:
a = 'naman'

def check_palindrome(word):
    word = word.lower()
    return 'Palindrome' if word == word[::-1] else 'Not a Palindrome'

In [29]:
a = 'nitin'

In [30]:
a[::-1]

'nitin'

In [31]:
check_palindrome('karan')

'Not a Palindrome'

In [32]:
check_palindrome('ajay')

'Not a Palindrome'

In [33]:
check_palindrome('nItin')

'Palindrome'

In [37]:
check_palindrome('rottator')

'Not a Palindrome'

In [38]:
# check_prime

In [39]:
# Thursday:- next:- Test(Upto functions)

In [40]:
# check_prime

In [42]:
# prime:- self, 1
# 1:- Not a prime
# 2:- Prime:- Even Prime number
# 3

In [ ]:
14:
    2,12
2,3,4,5,6,7,8,9,10,11,12,13

In [43]:
def check_prime(number):
    for i in range(2,number):
        if number % i == 0:
            print('Not a Prime Number')
            break
    else:
        print('Prime Number')

In [48]:
check_prime(278)

Not a Prime Number

In [52]:
def give_prime_number(n1,n2):
    all_prime = []
    
    for i in range(n1,n2+1):
        
        for j in range(2,i):
            if i % j == 0:
                break
        else:
            all_prime.append(i)
            
    return all_prime

In [51]:
list(range(2,11))

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
give_prime_number(12,55)

[13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53]

In [59]:
import calendar
print(calendar.calendar(2024))

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [63]:
print(calendar.month(2024,4))

     April 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [65]:
print(give_prime_number(2,500))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499]

In [66]:
check_prime(499)

Prime Number

In [67]:
# check_armstrong
# # anagram

In [68]:
# 153:-

In [69]:
1**3  + 5**3  +  3**3

153

In [70]:
# 8208

In [71]:
8**4  + 2**4 +  0**4 +  8**4

8208

In [73]:
a = 4679307774

In [76]:
len(str(a))

10

In [77]:
4**10+6**10+7**10+9**10+3**10+0**10+7**10+7**10+7**10+4**10

4679307774

In [80]:
# for i in str(4679307774):
#     print(i)

In [82]:
int('4')**3

64

In [84]:
def check_armstrong(number):
    lt = len(str(number))
    
    ans = 0
    
    for i in str(number):
        ans += int(i)**lt
        
    return 'Armstrong Number' if ans == number else 'Not an Armstrong Number'

In [85]:
check_armstrong(153)

'Armstrong Number'

In [86]:
check_armstrong(157)

'Not an Armstrong Number'

In [87]:
check_armstrong(4679307774)

'Armstrong Number'

In [89]:
check_armstrong(92717)

'Not an Armstrong Number'

In [90]:
def give_armstrong(n1,n2):
    for i in range(n1,n2+1):
        print(i,check_armstrong(i))

In [92]:
give_armstrong(23,300)

23 Not an Armstrong Number
24 Not an Armstrong Number
25 Not an Armstrong Number
26 Not an Armstrong Number
27 Not an Armstrong Number
28 Not an Armstrong Number
29 Not an Armstrong Number
30 Not an Armstrong Number
31 Not an Armstrong Number
32 Not an Armstrong Number
33 Not an Armstrong Number
34 Not an Armstrong Number
35 Not an Armstrong Number
36 Not an Armstrong Number
37 Not an Armstrong Number
38 Not an Armstrong Number
39 Not an Armstrong Number
40 Not an Armstrong Number
41 Not an Armstrong Number
42 Not an Armstrong Number
43 Not an Armstrong Number
44 Not an Armstrong Number
45 Not an Armstrong Number
46 Not an Armstrong Number
47 Not an Armstrong Number
48 Not an Armstrong Number
49 Not an Armstrong Number
50 Not an Armstrong Number
51 Not an Armstrong Number
52 Not an Armstrong Number
53 Not an Armstrong Number
54 Not an Armstrong Number
55 Not an Armstrong Number
56 Not an Armstrong Number
57 Not an Armstrong Number
58 Not an Armstrong Number
59 Not an Armstrong Number
60 Not an Armstrong Number
61 Not an Armstrong Number
62 Not an Armstrong Number
63 Not an Armstrong Number
64 Not an Armstrong Number
65 Not an Armstrong Number
66 Not an Armstrong Number
67 Not an Armstrong Number
68 Not an Armstrong Number
69 Not an Armstrong Number
70 Not an Armstrong Number
71 Not an Armstrong Number
72 Not an Armstrong Number
73 Not an Armstrong Number
74 Not an Armstrong Number
75 Not an Armstrong Number
76 Not an Armstrong Number
77 Not an Armstrong Number
78 Not an Armstrong Number
79 Not an Armstrong Number
80 Not an Armstrong Number
81 Not an Armstrong Number
82 Not an Armstrong Number
83 Not an Armstrong Number
84 Not an Armstrong Number
85 Not an Armstrong Number
86 Not an Armstrong Number
87 Not an Armstrong Number
88 Not an Armstrong Number
89 Not an Armstrong Number
90 Not an Armstrong Number
91 Not an Armstrong Number
92 Not an Armstrong Number
93 Not an Armstrong Number
94 Not an Armstrong Number
95 Not an Armstrong Number
96 Not an Armstrong Number
97 Not an Armstrong Number
98 Not an Armstrong Number
99 Not an Armstrong Number
100 Not an Armstrong Number
101 Not an Armstrong Number
102 Not an Armstrong Number
103 Not an Armstrong Number
104 Not an Armstrong Number
105 Not an Armstrong Number
106 Not an Armstrong Number
107 Not an Armstrong Number
108 Not an Armstrong Number
109 Not an Armstrong Number
110 Not an Armstrong Number
111 Not an Armstrong Number
112 Not an Armstrong Number
113 Not an Armstrong Number
114 Not an Armstrong Number
115 Not an Armstrong Number
116 Not an Armstrong Number
117 Not an Armstrong Number
118 Not an Armstrong Number
119 Not an Armstrong Number
120 Not an Armstrong Number
121 Not an Armstrong Number
122 Not an Armstrong Number
123 Not an Armstrong Number
124 Not an Armstrong Number
125 Not an Armstrong Number
126 Not an Armstrong Number
127 Not an Armstrong Number
128 Not an Armstrong Number
129 Not an Armstrong Number
130 Not an Armstrong Number
131 Not an Armstrong Number
132 Not an Armstrong Number
133 Not an Armstrong Number
134 Not an Armstrong Number
135 Not an Armstrong Number
136 Not an Armstrong Number
137 Not an Armstrong Number
138 Not an Armstrong Number
139 Not an Armstrong Number
140 Not an Armstrong Number
141 Not an Armstrong Number
142 Not an Armstrong Number
143 Not an Armstrong Number
144 Not an Armstrong Number
145 Not an Armstrong Number
146 Not an Armstrong Number
147 Not an Armstrong Number
148 Not an Armstrong Number
149 Not an Armstrong Number
150 Not an Armstrong Number
151 Not an Armstrong Number
152 Not an Armstrong Number
153 Armstrong Number
154 Not an Armstrong Number
155 Not an Armstrong Number
156 Not an Armstrong Number
157 Not an Armstrong Number
158 Not an Armstrong Number
159 Not an Armstrong Number
160 Not an Armstrong Number
161 Not an Armstrong Number
162 Not an Armstrong Number
163 Not an Armstrong Number
164 Not an Armstrong Number
165 Not an Armstrong Number
166 Not an Armstrong Number
167 Not an Armstrong Number
168 Not an Armstrong Number
169 Not an Armstrong Number
170 Not an Armstrong Number
171 Not an Armstrong Number
172 Not an Armstrong Number
173 Not an Armstrong Number
174 Not an Armstrong Number
175 Not an Armstrong Number
176 Not an Armstrong Number
177 Not an Armstrong Number
178 Not an Armstrong Number
179 Not an Armstrong Number
180 Not an Armstrong Number
181 Not an Armstrong Number
182 Not an Armstrong Number
183 Not an Armstrong Number
184 Not an Armstrong Number
185 Not an Armstrong Number
186 Not an Armstrong Number
187 Not an Armstrong Number
188 Not an Armstrong Number
189 Not an Armstrong Number
190 Not an Armstrong Number
191 Not an Armstrong Number
192 Not an Armstrong Number
193 Not an Armstrong Number
194 Not an Armstrong Number
195 Not an Armstrong Number
196 Not an Armstrong Number
197 Not an Armstrong Number
198 Not an Armstrong Number
199 Not an Armstrong Number
200 Not an Armstrong Number
201 Not an Armstrong Number
202 Not an Armstrong Number
203 Not an Armstrong Number
204 Not an Armstrong Number
205 Not an Armstrong Number
206 Not an Armstrong Number
207 Not an Armstrong Number
208 Not an Armstrong Number
209 Not an Armstrong Number
210 Not an Armstrong Number
211 Not an Armstrong Number
212 Not an Armstrong Number
213 Not an Armstrong Number
214 Not an Armstrong Number
215 Not an Armstrong Number
216 Not an Armstrong Number
217 Not an Armstrong Number
218 Not an Armstrong Number
219 Not an Armstrong Number
220 Not an Armstrong Number
221 Not an Armstrong Number
222 Not an Armstrong Number
223 Not an Armstrong Number
224 Not an Armstrong Number
225 Not an Armstrong Number
226 Not an Armstrong Number
227 Not an Armstrong Number
228 Not an Armstrong Number
229 Not an Armstrong Number
230 Not an Armstrong Number
231 Not an Armstrong Number
232 Not an Armstrong Number
233 Not an Armstrong Number
234 Not an Armstrong Number
235 Not an Armstrong Number
236 Not an Armstrong Number
237 Not an Armstrong Number
238 Not an Armstrong Number
239 Not an Armstrong Number
240 Not an Armstrong Number
241 Not an Armstrong Number
242 Not an Armstrong Number
243 Not an Armstrong Number
244 Not an Armstrong Number
245 Not an Armstrong Number
246 Not an Armstrong Number
247 Not an Armstrong Number
248 Not an Armstrong Number
249 Not an Armstrong Number
250 Not an Armstrong Number
251 Not an Armstrong Number
252 Not an Armstrong Number
253 Not an Armstrong Number
254 Not an Armstrong Number
255 Not an Armstrong Number
256 Not an Armstrong Number
257 Not an Armstrong Number
258 Not an Armstrong Number
259 Not an Armstrong Number
260 Not an Armstrong Number
261 Not an Armstrong Number
262 Not an Armstrong Number
263 Not an Armstrong Number
264 Not an Armstrong Number
265 Not an Armstrong Number
266 Not an Armstrong Number
267 Not an Armstrong Number
268 Not an Armstrong Number
269 Not an Armstrong Number
270 Not an Armstrong Number
271 Not an Armstrong Number
272 Not an Armstrong Number
273 Not an Armstrong Number
274 Not an Armstrong Number
275 Not an Armstrong Number
276 Not an Armstrong Number
277 Not an Armstrong Number
278 Not an Armstrong Number
279 Not an Armstrong Number
280 Not an Armstrong Number
281 Not an Armstrong Number
282 Not an Armstrong Number
283 Not an Armstrong Number
284 Not an Armstrong Number
285 Not an Armstrong Number
286 Not an Armstrong Number
287 Not an Armstrong Number
288 Not an Armstrong Number
289 Not an Armstrong Number
290 Not an Armstrong Number
291 Not an Armstrong Number
292 Not an Armstrong Number
293 Not an Armstrong Number
294 Not an Armstrong Number
295 Not an Armstrong Number
296 Not an Armstrong Number
297 Not an Armstrong Number
298 Not an Armstrong Number
299 Not an Armstrong Number
300 Not an Armstrong Number

In [93]:
def give_armstrong(n1,n2):
    all_armstrong = []
    for i in range(n1,n2+1):
        if check_armstrong(i) == 'Armstrong Number':
            all_armstrong.append(i)
    return all_armstrong

In [94]:
give_armstrong(100,500)

[153, 370, 371, 407]

# day 5

In [1]:
'harry'.count('r')

2

In [4]:
a = {}
a['c'] = 3

In [5]:
a

{'c': 3}

In [17]:
# anagram:- two words with same count of characters

# Cheater = teacher
def check_anagram(w1,w2):
        
    w1,w2 = w1.lower(),w2.lower()
    
    w1_counts = {}
    w2_counts = {}
    
    
    for i in w1:
        w1_counts[i] = w1.count(i)
        
    for j in w2:
        w2_counts[j] = w2.count(j)
    
    
        
    return 'Anagram' if w1_counts == w2_counts else 'Not an Anagram'

In [20]:
check_anagram('Cheater','teacher')

'Anagram'

In [21]:
# 'ant'
# 'tna'
# 'nat'
# 'atn'
# 'nta'
# 'tan'

In [22]:
3*2*1

6

In [24]:
3*2
2*3

6

In [32]:
def factorial(number):
    if number>=0:
        res = 1

        for i in range(1,number+1):
            res*= i
        return res
    else:
        print('Not allowed!!')

In [35]:
factorial(10)

3628800

In [ ]:
'gfdfgkjggfzgg'

In [36]:
a = [23,45,4321,345,67434]

print(a)

[23, 45, 4321, 345, 67434]

In [37]:
a.reverse()

In [38]:
a

[67434, 345, 4321, 45, 23]

In [39]:
data = [34,3245,4,13245,67,324,46,7787,3]


data[::-1]

[3, 7787, 46, 324, 67, 13245, 4, 3245, 34]

In [40]:
# reversed()

In [41]:
data

[34, 3245, 4, 13245, 67, 324, 46, 7787, 3]

In [42]:
for i in data:
    print(i)

34
3245
4
13245
67
324
46
7787
3

In [43]:
data

[34, 3245, 4, 13245, 67, 324, 46, 7787, 3]

In [45]:
len(data)

9

In [60]:
data

[34, 3245, 4, 13245, 67, 324, 46, 7787, 3]

In [59]:
reversed_list = []
for i in range(1,len(data)+1):
    reversed_list.append(data[-i])
print(reversed_list)

[3, 7787, 46, 324, 67, 13245, 4, 3245, 34]

In [70]:
def reversed_list(data):
    r_data =[]
    for i in range(1,len(data)+1):
        r_data.append(data[-i])
        
    if type(data) == str:
        return ...
    
    elif type(data) == tuple:
        return tuple(r_data)

    else:
        return r_data

In [66]:
reversed_list([2,34,5432,435,78])

[78, 435, 5432, 34, 2]

In [67]:
reversed_list((2,34,42,345,653,467))

(467, 653, 345, 42, 34, 2)

In [68]:
reversed_list([2,34,42,345,653,467])

[467, 653, 345, 42, 34, 2]

In [69]:
reversed_list('joker')

['r', 'e', 'k', 'o', 'j']

In [71]:
''.join(['r', 'e', 'k', 'o', 'j'])

'rekoj'

In [72]:
def reversed_list(data):
    r_data =[]
    for i in range(1,len(data)+1):
        r_data.append(data[-i])
        
    if type(data) == str:
        return ''.join(r_data)
    
    elif type(data) == tuple:
        return tuple(r_data)

    else:
        return r_data

In [73]:
reversed_list('joker')

'rekoj'

In [74]:
reversed_list([1,23,4,21345,34,457])

[457, 34, 21345, 4, 23, 1]

In [75]:
def reversed_list(data):
    r_data =[]
    for i in range(1,len(data)+1):
        r_data.append(data[-i])
        
    if type(data) == str:
        r_data = ''.join(r_data)
    
    elif type(data) == tuple:
        r_data =  tuple(r_data)
    
    else:
        ...
    
    return r_data

In [79]:
reversed_list('ajay')

'yaja'

In [ ]:
1,6,50
1,6,10
1,3,6

In [95]:
def give_AP_series(s,e,k):
    ...
    
def give_area(shape=None):
    if shape == 'circle':
        r = float(input('Enter radius: '))
        
        area = 3.14*r**2
        
    elif shape == 'rectangle':
        l = float(input('Enter length: '))
        b = float(input('Enter breadth: '))
        area = l*b
        
    elif shape == 'square':
        side = float(input('Enter side of a Square: '))
        
        area = side**2
        
    elif shape == 'triangle':
    
        
        side_a = float(input('Enter side_a: '))
        side_b = float(input('Enter side_b: '))
        side_c = float(input('Enter side_c: '))
        
        if ((side_a+side_b)>side_c) and ((side_b+side_c)>side_a) and ((side_c+side_a)>side_b):
        
        
            s = (side_a + side_b + side_c)/2

            area = (s*(s-side_a)*(s-side_b)*(s-side_c))**0.5
        else:
            print('Invalid Triangle shape!!')
            area = -1

    else:
        print('Invalid shape')
        
    print(f'Area of a {shape} : {round(area,2)} sq-unit')

In [97]:
give_area('triangle')

Enter side_a: 12
Enter side_b: 45
Enter side_c: 34
Area of a triangle : 93.62 sq-unit

In [ ]:
# round()

a = 23
b = 3
c = 21