In [1]:
data = [1,234,45,4421,34,67]

print(data)

[1, 234, 45, 4421, 34, 67]

In [2]:
print(type(data))

<class 'list'>

In [3]:
# empty list

e_list = []

print(e_list)

[]

In [4]:
len(e_list)

0

In [5]:
# some basic operations 

a = [1,24,3456,754,36]
b = [23,234,36,57,54,78]

c = a +b
print(c)

[1, 24, 3456, 754, 36, 23, 234, 36, 57, 54, 78]

In [6]:
[12,342,56] + [2,34,536] + [123,44,6]

[12, 342, 56, 2, 34, 536, 123, 44, 6]

In [7]:
[12,342,56] - [2,34,536] - [123,44,6]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [8]:
a = [1,243,46]

a * 2

[1, 243, 46, 1, 243, 46]

In [10]:
name = ['karan']
print(name * 10)

['karan', 'karan', 'karan', 'karan', 'karan', 'karan', 'karan', 'karan', 'karan', 'karan']

In [11]:
# features
# 1>> list can contain any data type or elements or code

In [12]:
data = [1,234.4,4-9j,(12,335),[1,243,5],True,None,{1,243,5},{'Name':'Karan'},'Mohan']

print(data)

[1, 234.4, (4-9j), (12, 335), [1, 243, 5], True, None, {1, 243, 5}, {'Name': 'Karan'}, 'Mohan']

In [13]:
data = [2==2, 'mohan' in ['ajay','karan','mohan'],23-98*67//4 ]
data

[True, True, -1618]

In [14]:
# 2>> list can be nested

In [15]:
data = [1,234,45,3,[1,24,345,[12,43,4,[12,4334,6,[235,436]]]]]

In [16]:
print(data)

[1, 234, 45, 3, [1, 24, 345, [12, 43, 4, [12, 4334, 6, [235, 436]]]]]

In [17]:
# 3>> list supports indexing

In [18]:
data = [12,34,52,13,547,8,344,57]

data[5]

8

In [20]:
data[3]

13

In [21]:
#4>> list also support slicing

data = [12,34,52,13,547,8,344,57]

# [start:stop:step]

data[1:7]

[34, 52, 13, 547, 8, 344]

In [22]:
data[1:-1]

[34, 52, 13, 547, 8, 344]

In [23]:
# 5>> list also support negative indexing

In [24]:
data = [1,234,5,4124,35,6]

data[-2]

35

In [25]:
#6>> we can reverse list

data = [1,234,5,4124,35,6]

data[::-1]

[6, 35, 4124, 5, 234, 1]

In [26]:
# 7>> list are mutable in nature, list support item assignment
data = [1,234,5,4124,35,6]

data[3]

4124

In [27]:
data = [1,234,5,4124,35,6]

data[3] = 100

In [28]:
print(data)

[1, 234, 5, 100, 35, 6]

In [30]:
students = ['karan','ravi','mohan','ajay']

students[2] = 'Mohan Verma'

In [31]:
print(students)

['karan', 'ravi', 'Mohan Verma', 'ajay']

In [33]:
students[1] = 'ravi Malhotra sahab'

In [34]:
print(students)

['karan', 'ravi Malhotra sahab', 'Mohan Verma', 'ajay']

In [35]:
a = 234

a+= 10

In [39]:
students = ['karan','ravi','mohan','ajay']

students[1] += ' verma sahab'

In [40]:
print(students)

['karan', 'ravi verma sahab', 'mohan', 'ajay']

In [42]:
students = ['karan','ravi','mohan','ajay']

students[1]  = students[1] + ' kumar sahab'

In [43]:
print(students)

['karan', 'ravi kumar sahab', 'mohan', 'ajay']

In [44]:
# nested list slicing

In [45]:
bank = [[1,2,3,[1,2,3]],[4,5,6,[2,3,4]]]


bank

[[1, 2, 3, [1, 2, 3]], [4, 5, 6, [2, 3, 4]]]

In [46]:
bank

[[1, 2, 3, [1, 2, 3]], [4, 5, 6, [2, 3, 4]]]

In [50]:
bank[0][3][-1] = 3000

In [51]:
print(bank)

[[1, 2, 3, [1, 2, 3000]], [4, 5, 6, [2, 3, 4]]]

In [56]:
bank[-1][-1][-1] = 4000

In [57]:
bank

[[1, 2, 3, [1, 2, 3000]], [4, 5, 6, [2, 3, 4000]]]