In [1]:
data = {'Name':'Mohan'}
print(data)

{'Name': 'Mohan'}

In [2]:
print(type(data))

<class 'dict'>

In [4]:
a = {'Name':'Mohan'}
#  key :  value

In [6]:
# keys
# allowed:- int,complex,float,tuple,None,bool,str,frozenset
# not allowed:- list,set,dict:- that can be changed


# value:-
# all data type allowed

In [9]:
# allowed:

var = {1:'one',23.7:'value',67-9j:'complex',None:'Mohan',
      (1,2,3):'Good morning','name':345,True:None}


print(var)

{1: None, 23.7: 'value', (67-9j): 'complex', None: 'Mohan', (1, 2, 3): 'Good morning', 'name': 345}

In [10]:
# not allowed

# list

a = {[12,31,3446]:None}
print(a)

TypeError: unhashable type: 'list'

In [11]:
# not allowed

# list

a = {{12,31,3446}:None}
print(a)

TypeError: unhashable type: 'set'

In [12]:
# not allowed

# list

a = {{'name':'ajay'}:None}
print(a)

TypeError: unhashable type: 'dict'

In [13]:
# all data type allopwed at value position


data = {1:1,
        2:2.2,
       3:89-9j,
       4:'Komal',
       5:True,
       6:None,
       7:(1,2,3,5),
       8:[1,243,56,7],
       9:{1,2343,45},
       10:{'name':'Mohan'},
       11:frozenset((1,24,356))}

print(data)

{1: 1, 2: 2.2, 3: (89-9j), 4: 'Komal', 5: True, 6: None, 7: (1, 2, 3, 5), 8: [1, 243, 56, 7], 9: {1, 45, 2343}, 10: {'name': 'Mohan'}, 11: frozenset({24, 1, 356})}

In [14]:
d = {frozenset((1,24,35)):None}
print(d)

{frozenset({24, 1, 35}): None}

In [15]:
# nested dict:- dict inside dict

data = {'Delhi':{'Pnb':123008,'Hdfc':87654}}

print(data)

{'Delhi': {'Pnb': 123008, 'Hdfc': 87654}}

In [16]:
data = {'Delhi':{'Pnb':123008,'Hdfc':{'L1':23,'L2':{"ML":2,'ML2':34}}}}

print(data)

{'Delhi': {'Pnb': 123008, 'Hdfc': {'L1': 23, 'L2': {'ML': 2, 'ML2': 34}}}}

In [17]:
# dict does not support indexing or slicing

In [20]:
a = {'Name':'Komal','Age':34,'Salary':876543,'Akela':None}

print(a)

{'Name': 'Komal', 'Age': 34, 'Salary': 876543, 'Akela': None}

In [21]:
# 1 key value pair = 1 item

In [22]:
len(a)

4

In [23]:
a[2]

KeyError: 2

In [26]:
a = {'Name':'Komal','Age':34,'Salary':876543,'Akela':None}


a['Age']

34

In [28]:
# a[key] = Value

In [30]:
print(a['Akela'])

None

In [31]:
# dict support item assignment with help of key

In [33]:
a['Akela'] = 2345678

In [34]:
print(a)

{'Name': 'Komal', 'Age': 34, 'Salary': 876543, 'Akela': 2345678}

In [36]:
a['Age'] = 44

In [37]:
print(a)

{'Name': 'Komal', 'Age': 44, 'Salary': 876543, 'Akela': 2345678}

In [38]:
a['age'] = 87

In [39]:
print(a)

{'Name': 'Komal', 'Age': 44, 'Salary': 876543, 'Akela': 2345678, 'age': 87}

In [40]:
a['Age']

44

In [41]:
a['salary']

KeyError: 'salary'

In [42]:
a

{'Name': 'Komal', 'Age': 44, 'Salary': 876543, 'Akela': 2345678, 'age': 87}

In [44]:
a['Name']+= ' Verma'

In [46]:
print(a)

{'Name': 'Komal Verma', 'Age': 44, 'Salary': 876543, 'Akela': 2345678, 'age': 87}

In [47]:
data = {'Delhi':{'Pnb':123008,'Hdfc':{'L1':23,'L2':{"ML":2,'ML2':34}}}}

data

{'Delhi': {'Pnb': 123008, 'Hdfc': {'L1': 23, 'L2': {'ML': 2, 'ML2': 34}}}}

In [51]:
data['Delhi']['Hdfc']['L1'] = 200

In [53]:
print(data)

{'Delhi': {'Pnb': 123008, 'Hdfc': {'L1': 200, 'L2': {'ML': 2, 'ML2': 34}}}}

In [59]:
data['Delhi']['Hdfc']['L2']['ML2'] = 4000

In [60]:
print(data)

{'Delhi': {'Pnb': 123008, 'Hdfc': {'L1': 200, 'L2': {'ML': 2, 'ML2': 4000}}}}

In [61]:
data['Bombay'] = 'Bombay'

In [62]:
print(data)

{'Delhi': {'Pnb': 123008, 'Hdfc': {'L1': 200, 'L2': {'ML': 2, 'ML2': 4000}}}, 'Bombay': 'Bombay'}

In [65]:
# dict:- can not contain more than one simmilar key

data = {'Age':28,'Name':'Komal','Age':23,'Name':'Mohan'}


print(data)

{'Age': 23, 'Name': 'Mohan'}

In [66]:
# some basic op

In [67]:
a = {'name':'Komal'}
b = {'Age':34}
c = {'Salary':4567}

print(a + b + c)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [68]:
a = {'name':'Komal'}

a * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [69]:
# dict can be convert into excel-table

data = {'Name':['Mohan','Sohan','Rohan','Ajay','Vijay'],
       'Age':[24,28,32,12,39],
       'Salary':[3456,3456,7656,56456,45674],
       'Address':['Noida','Delhi','Delhi','Gurgaon','Greater Noida']}



print(data)

{'Name': ['Mohan', 'Sohan', 'Rohan', 'Ajay', 'Vijay'], 'Age': [24, 28, 32, 12, 39], 'Salary': [3456, 3456, 7656, 56456, 45674], 'Address': ['Noida', 'Delhi', 'Delhi', 'Gurgaon', 'Greater Noida']}

In [71]:
import pandas as pd

In [73]:
table = pd.DataFrame(data)

In [75]:
table.to_excel('students.xlsx')
print('done')

done

In [76]:
table

    Name  Age  Salary        Address
0  Mohan   24    3456          Noida
1  Sohan   28    3456          Delhi
2  Rohan   32    7656          Delhi
3   Ajay   12   56456        Gurgaon
4  Vijay   39   45674  Greater Noida

In [84]:
data = {'Name':[input('Enter Name: '),input('Enter Name: ')],
        
       'Age':[input('Enter Age: '),input('Enter Age: ')],
        
       'Salary':[input('Enter Salary: '),input('Enter Salary: ')],
        
       'Address':[input('Enter Address: '),input('Enter Address: ')]}



table = pd.DataFrame(data)
table

Enter Name: Jatin
Enter Name: Mohan
Enter Age: 23
Enter Age: 22
Enter Salary: 87876
Enter Salary: 89876
Enter Address: Greater Noida
Enter Address: Delhi

    Name Age Salary        Address
0  Jatin  23  87876  Greater Noida
1  Mohan  22  89876          Delhi