In [1]:
# Examples
# one liner for loop
# list comphrension

In [2]:
# even odd
# vowels & consonants
# for loop else
# for loop find nested element

In [3]:
# even odd

In [7]:
data = [1,234,31,2345,4,214,3456,7435]

even = []
odd = []

for i in data:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i) 
        
print('Even list',even)
print('Odd list',odd)

Even list [234, 4, 214, 3456]
Odd list [1, 31, 2345, 7435]

In [8]:
# vowels & consonants

In [11]:
data = ['ola','Uber','kia','maruti','hindalco','tata','adani']

v = []
c = []

for i in data:
    if i[0].lower() in 'aeiou':
        v.append(i)
    else:
        c.append(i)
        
print(v)

['ola', 'Uber', 'adani']

In [12]:
print(c)

['kia', 'maruti', 'hindalco', 'tata']

In [13]:
data = ['ola','Uber','kia','maruti','hindalco','tata','adani']

In [14]:
# ['@ola','@Uber','@kia']

In [17]:
new_data = []

for i in data:
    new_data.append('@'+i)
    
    
print(new_data)

['@ola', '@Uber', '@kia', '@maruti', '@hindalco', '@tata', '@adani']

In [23]:
data = [[[45]]]

data[0][0][0]

45

In [29]:
data = [[[[[[[[23]]]]]]]]

data[0][0][0][0][0][0][0][0]

23

In [30]:
type(data)

list

In [38]:
data = [[[[[[[[23]]]]]]]]

data = data[0]
data = data[0]
data = data[0]
data = data[0]
data = data[0]
data = data[0]
data = data[0]
data = data[0]
data

23

In [43]:
data = [[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[4]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]

for i in range(50):
    if type(data) == list:
        data = data[0]
        
    else:
        print(data)
        break

4

In [44]:
# # for loop else


# for loop:
#     code block
#     conditions

# else:
#     print('chalega')

In [46]:
data = [12,4,4542,'bomb',354,6]

for i in data:
    if i == 'bomb':
        print('Bomb mil gaya')
        break
    else:
        print('aap ja sakte ho kyuki aap bomb nahi ho!!',i)
        
else:
    print('Bomb nahi mila!!')

aap ja sakte ho kyuki aap bomb nahi ho!! 12
aap ja sakte ho kyuki aap bomb nahi ho!! 4
aap ja sakte ho kyuki aap bomb nahi ho!! 4542
Bomb mil gaya

In [47]:
data = [12,4,4542,354,6]

for i in data:
    if i == 'bomb':
        print('Bomb mil gaya')
        break
    else:
        print('aap ja sakte ho kyuki aap bomb nahi ho!!',i)
        
else:
    print('Bomb nahi mila!!')

aap ja sakte ho kyuki aap bomb nahi ho!! 12
aap ja sakte ho kyuki aap bomb nahi ho!! 4
aap ja sakte ho kyuki aap bomb nahi ho!! 4542
aap ja sakte ho kyuki aap bomb nahi ho!! 354
aap ja sakte ho kyuki aap bomb nahi ho!! 6
Bomb nahi mila!!

In [48]:
# one liner for loop
# list comphrension

In [49]:
# one liner for loop, list comphrension

In [53]:
data = [1,23,46,7]
even = []

for i in data:
    if i % 2==0:
        even.append(i)
        
print(even)

[46]

In [57]:
e = []
for i in data: e.append(i) if i % 2==0 else None

In [58]:
e

[46]

In [59]:
# list comphrension

In [60]:
# for loop inside list

In [61]:
data = [1,23,14,13,245,42,3546]
div_by_7 = []
for i in data:
    if i % 7 == 0:
        div_by_7.append(i)
print(div_by_7)

[14, 245, 42]

In [63]:
# list comphrension

[i*2 for i in data]

[2, 46, 28, 26, 490, 84, 7092]

In [64]:
[(i,i*2) for i in data]

[(1, 2), (23, 46), (14, 28), (13, 26), (245, 490), (42, 84), (3546, 7092)]

In [67]:
[i for i in data if i % 7 == 0]

[14, 245, 42]

In [68]:
# [(1,1),(2,2),(3,3),...]

In [71]:
num = 10
[(i,i) for i in range(1,num+1)]

[(1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9),
 (10, 10)]

In [72]:
# nested loop list comphrension

In [77]:
[(i,j) for i in 'ab' for j in range(1,7)]

[('a', 1),
 ('a', 2),
 ('a', 3),
 ('a', 4),
 ('a', 5),
 ('a', 6),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('b', 4),
 ('b', 5),
 ('b', 6)]

In [78]:
# [(a,1),(b,2),(c,3)...]

In [79]:
# data = 'abcdefghijklmnopqrstuvwxyz'

In [81]:
import string

In [84]:
data = string.ascii_lowercase
data

'abcdefghijklmnopqrstuvwxyz'

In [86]:
data[1]

'b'

In [87]:
len(data)

26

In [90]:
data[26]

IndexError: string index out of range

In [93]:
data[2]

'c'

In [104]:
ans = [(data[i],i+1) for i in range(len(data))]

print(ans)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5), ('f', 6), ('g', 7), ('h', 8), ('i', 9), ('j', 10), ('k', 11), ('l', 12), ('m', 13), ('n', 14), ('o', 15), ('p', 16), ('q', 17), ('r', 18), ('s', 19), ('t', 20), ('u', 21), ('v', 22), ('w', 23), ('x', 24), ('y', 25), ('z', 26)]

In [106]:
import pandas as pd

In [108]:
pd.DataFrame(ans,columns=['Char','Position'])

   Char  Position
0     a         1
1     b         2
2     c         3
3     d         4
4     e         5
5     f         6
6     g         7
7     h         8
8     i         9
9     j        10
10    k        11
11    l        12
12    m        13
13    n        14
14    o        15
15    p        16
16    q        17
17    r        18
18    s        19
19    t        20
20    u        21
21    v        22
22    w        23
23    x        24
24    y        25
25    z        26

In [109]:
# Monday:- ?
# sunday:- 

500*5000000

2500000000

In [ ]:
60000

In [111]:
# 35000*60000