In [1]:
# one liner if else, elif

In [2]:
number = 345
if number % 2 == 0:
    print('Even Number')
else:
    print('Odd Number')

Odd Number

In [3]:
print('Even Number') if number %2 == 0 else print('Odd Number')

Odd Number

In [7]:
word = 'audi car'

# vowels = a,e,i,o,u

print('Vowel') if word[0].lower() in 'aeiou' else print('Consonants')

Vowel

In [8]:
a = 34
b = 45
c = 67

if (a>b) and (a>c):
    print('a is greatest')
    
elif (b>a) and (b>c):
    print('b is greatest')
    
elif (c>a) and (c>b):
    print('c is greatest')
    
else:
    print('all are equals')

c is greatest

In [10]:
print('a is greatest') if (a>b) and (a>c) else print('b is greatest') if (b>a) and (b>c) else print('c is greatest') if (c>a) and (c>b) else print('all are equals')

c is greatest

In [11]:
print('a is greatest') if (a>b) and (a>c) else print('b is greatest') if (b>a) and (b>c) else print('c is greatest') 
if (c>a) and (c>b) else print('all are equals')

SyntaxError: invalid syntax (1612812415.py, line 2)

In [16]:
'Hello \
world'

'Hello world'

In [18]:
print('a is greatest') if (a>b) and (a>c) else print('b is greatest') if (b>a) and (b>c) else print('c is greatest')\
if (c>a) and (c>b) else print('all are equals')

c is greatest

In [19]:
# pass

In [23]:
if 2==2:
    pass
else:
    ...

In [24]:
# h/w task

In [25]:
import calendar

In [27]:
calendar.isleap(2023)

False

In [28]:
year = 2025

# 100, 4, 400

# Loop Concept

In [29]:
# flow control

In [30]:
# while
# for

# # While
# # For

# do while
# for each

In [34]:
students = ['rashi','komal','ajay','nitin','arun']


for i in students:
    print(f"Hello {i}, how are you?")

Hello rashi, how are you?
Hello komal, how are you?
Hello ajay, how are you?
Hello nitin, how are you?
Hello arun, how are you?

In [35]:
print('hello World')
print('hello World')
print('hello World')
print('hello World')
print('hello World')
print('hello World')
print('hello World')
print('hello World')
print('hello World')
print('hello World')

hello World
hello World
hello World
hello World
hello World
hello World
hello World
hello World
hello World
hello World

In [36]:
data = 'Hello World\n'*10

print(data)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [39]:
data = [1,23,467]

print(data)
print(data)
print(data)
print(data)

[1, 23, 467]
[1, 23, 467]
[1, 23, 467]
[1, 23, 467]

In [40]:
# any task :- need to execute again and again

In [41]:
# for 
# while

In [43]:
# for:- when we know the number of iterations, inshort kitni baar chalna hai

In [44]:
# while loop:- when we don't know when to stop, and stop only when condition satisfied

In [49]:
data = [1,243,5,324,567,23,4543,44,54,346]
# iterator

In [51]:
import time
for i in data:
    print(i+100)
    time.sleep(1)

101
343
105
424
667
123
4643
144
154
446

In [52]:
# temporary iterator

In [55]:
data = 'hello world'

for kuchbhi in data:
    print(kuchbhi)

h
e
l
l
o

w
o
r
l
d

In [56]:
modiji = [1,235,12,3456]

for modi in modiji:
    print(modi)

1
235
12
3456

In [57]:
# for temp_naam in collection_data:
#     code block
#     code block
#     code block

In [58]:
# data_types = list, tuple,dict,str,set,frozenset,range(),iterables
# not allowed:- int,float,complex,None,bool

In [63]:
# table print

table = 12
data = [1,2,3,4,5,6,7,8,9,10]

for i in data:
    print(f"{table} x {i} = {table*i}")

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [66]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
# table print

table = 12
data = list(range(1,11))

for i in data:
    print(f"{table} x {i} = {table*i}")

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [68]:
# table print

table = 12

for i in list(range(1,11)):
    print(f"{table} x {i} = {table*i}")

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [71]:
# table print

table = 13
for i in range(1,11):
    print(f"{table} x {i} = {table*i}")

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [74]:
table = 14
i = 1
while i<11:
    print(f"{table} x {i} = {table*i}")
    i+=1

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

In [75]:
# 

data = [1,243,45,542,15]

for i in data:
    print(i)

1
243
45
542
15

In [79]:
# 

data = {1,243,45,234,542,15}

for i in data:
    print(i)

1
243
234
45
542
15

In [80]:
# 

data = (1,243,45,234,542,15)

for i in data:
    print(i)

1
243
45
234
542
15

In [81]:
# dict

data = {'Name':'Mohan','age':34,'salary':87648,'Address':'Noida'}

print(data)

{'Name': 'Mohan', 'age': 34, 'salary': 87648, 'Address': 'Noida'}

In [83]:
for i in data:
    print(i)

Name
age
salary
Address

In [85]:
data['Name']

'Mohan'

In [87]:
for i in data:
    print(data[i])

Mohan
34
87648
Noida

In [89]:
for i in data:
    print(i,data[i])

Name Mohan
age 34
salary 87648
Address Noida

In [90]:
data

{'Name': 'Mohan', 'age': 34, 'salary': 87648, 'Address': 'Noida'}

In [91]:
data.items()

dict_items([('Name', 'Mohan'), ('age', 34), ('salary', 87648), ('Address', 'Noida')])

In [92]:
for i in data.items():
    print(i)

('Name', 'Mohan')
('age', 34)
('salary', 87648)
('Address', 'Noida')

In [93]:
# n = 4

# * * * *
# * * * *
# * * * *
# * * * *

In [104]:
n = 14
for i in range(n):
    print('* ' * n)

* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * *

# Day 2

In [1]:
# For loop

In [2]:
# for with pass, continue, break
# for with else
# nested for loop
# examples:- common element find
# one liner for loop
# list comphrension

In [3]:
# for with pass, continue, break

In [5]:
# pass, break, continue

In [8]:
data = [12,34,12,34,5,36]

for i in data:
    print(f'Square of {i} is',i*i)

Square of 12 is 144
Square of 34 is 1156
Square of 12 is 144
Square of 34 is 1156
Square of 5 is 25
Square of 36 is 1296

In [13]:
# continue:- to skip that iteration

data = [12,34,12,'Techvidya',5,36]

for i in data:
    if type(i) == int:
        print(f'Square of {i} is',i*i)
    else:
        continue    #:- Skip

Square of 12 is 144
Square of 34 is 1156
Square of 12 is 144
Square of 5 is 25
Square of 36 is 1296

In [16]:
fees_data = {'karan':False,'Mohan':True,'Ajay':False,'Deepak':True}

study_data = {'Shivam':0,'Shanu':3, 'Khushbu':0, 'Rashi':1}

In [15]:
data = [1,23,56,[12,43,5]]

for i in data:
    print(i)

1
23
56
[12, 43, 5]

In [19]:
study_data = {'Shivam':0,'Shanu':3, 'Khushbu':0, 'Rashi':1}

for i in study_data:
    if study_data[i]<1:
        continue
    else:
        print(f'Welcome {i}')

Welcome Shanu
Welcome Rashi

In [21]:
study_data = {'Shivam':0,'Shanu':3, 'Khushbu':0, 'Rashi':1}

for i in study_data:
    if study_data[i]<1:
        pass  #to pass that iteration
        print('Passed')
    else:
        print(f'Welcome {i}')

Passed
Welcome Shanu
Passed
Welcome Rashi

In [26]:
study_data = {'Shivam':0,'Shanu':3, 'Khushbu':0, 'Rashi':1}

for i in study_data:
    if study_data[i]<1:
        continue
        print('Done')
        jhdhrfjvwberwfbvwhernijqe4ithjh
        
    else:
        print(f'Welcome {i}')

Welcome Shanu
Welcome Rashi

In [28]:
study_data = {'Shivam':0,'Shanu':3, 'Khushbu':0, 'Rashi':1}

for i in study_data:
    if study_data[i]<1:
        pass  #to pass that iteration
        print('Passed')
        
    else:
        print(f'Welcome {i}')

Passed
Welcome Shanu
Passed
Welcome Rashi

In [30]:
# break :- break and exit the loop

In [35]:
data = [12,3,42,45,5656,'bomb',2,35,4,4]

for i in  data:
    if i == 'bomb':
        break
        print('kjjcxgfguvg')
    else:
        print(f'Welcome buddy!! {i}')

Welcome buddy!! 12
Welcome buddy!! 3
Welcome buddy!! 42
Welcome buddy!! 45
Welcome buddy!! 5656

In [36]:
data = [12,3,42,45,5656,'bomb',2,35,4,4]

for i in  data:
    if i == 'bomb':
        print('Bomb❌💥Bomb!!')
        break
    else:
        print(f'Welcome buddy!! {i}')

Welcome buddy!! 12
Welcome buddy!! 3
Welcome buddy!! 42
Welcome buddy!! 45
Welcome buddy!! 5656
Bomb❌💥Bomb!!

In [37]:
# continue, pass, break

In [39]:
study_data = {'Shivam':0,'Shanu':3, 'Khushbu':0, 'Rashi':1}

for i in study_data:
    if study_data[i]<1:
        ...
    else:
        print(f'Welcome {i}')

Welcome Shanu
Welcome Rashi

In [40]:
# for with else

In [41]:
# if:
#     kbjhb
# else:
#     jvjhb

In [42]:
# for:
#     kbjk
# else:
#     jvhb

In [44]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [46]:
for i in range(1,11,2):
    if i == 6:
        print('Hey!! 6')
        
else:
    print('Else block will run only when for loop run completely')

Else block will run only when for loop run completely

In [47]:
for i in range(1,11,2):
    if i == 5:
        print('Hey!! 5')
        
else:
    print('Else block will run only when for loop run completely')

Hey!! 5
Else block will run only when for loop run completely

In [48]:
for i in range(1,11,2):
    if i == 5:
        print('Hey!! 5')
        break
        
else:
    print('Else block will run only when for loop run completely')

Hey!! 5

In [49]:
for i in range(1,11,2):
    if i == 6:
        print('Hey!! 6')
        break
        
else:
    print('Else block will run only when for loop run completely')

Else block will run only when for loop run completely

In [50]:
for i in range(1,11,2):
    if i == 6:
        print('Hey!! 6')
        pass
        
else:
    print('Else block will run only when for loop run completely')

Else block will run only when for loop run completely

In [51]:
for i in range(1,11,2):
    if i == 6:
        print('Hey!! 6')
        continue
        
else:
    print('Else block will run only when for loop run completely')

Else block will run only when for loop run completely

In [53]:
# prime number:- divisible by number itself, and 1, atleast 2 divisible factor

In [54]:
# 1:- prime number:- NO

# prime number:- 2,3,5,7,11

In [65]:
number = 876437


for i in range(2,number):
    if number % i == 0:
        print('Not a Prime Number!!!')
        break
        
else:
    print('Prime number!!')

Not a Prime Number!!!

In [57]:
# 45 % 5

In [63]:
number / 107

8191.0

In [64]:
8191*107

876437

In [66]:
# nested for loop

In [72]:
# nested:- list, dict, tuple

In [73]:
# {1,243,6,[12,43,46]}

In [78]:
bag1 = ['Apple','Banana','Orange','papaya']

bag2 = ['*','@','%']



for i in bag1:  # outer loop
    
    for j in bag2:  # inner loop
        print(i,j)

Apple *
Apple @
Apple %
Banana *
Banana @
Banana %
Orange *
Orange @
Orange %
papaya *
papaya @
papaya %

In [84]:
comp_1 = [12,34,421,345,23,4567]
comp_2 = [12,345,6,213,3467,234,5]


set(comp_1).intersection(set(comp_2))

{12, 345}

In [83]:
comp_1 = [12,34,421,345,23,4567]
comp_2 = [12,345,6,213,3467,234,5]


common_roll = []

for i in comp_1:
    for j in comp_2:
        if i == j:
            common_roll.append(i)
            
print(common_roll)

[12, 345]

In [85]:
# 3 list common find