In [1]:
a = 'komal'
print(a)
print(type(a))

komal
<class 'str'>

In [2]:
# string:- single, double, triple quotes

In [4]:
b = "we are in Techvidya"

print(b)
print(type(b))

we are in Techvidya
<class 'str'>

In [7]:
b = "we are in Techvidya and this is python's class "

print(b)

we are in Techvidya and this is python's class

In [11]:
b = '''"we are in Techvidya and this is python's class"'''

print(b)

"we are in Techvidya and this is python's class"

In [14]:
b = """"We are in Techvidya and this is python's class""""

print(b)

SyntaxError: unterminated string literal (detected at line 1) (634709128.py, line 1)

In [16]:
b = """We are in Techvidya and this is python's class"""

print(b)

We are in Techvidya and this is python's class

In [17]:
# line continution character

In [18]:
a = 'This is python's class'

print(a)

SyntaxError: unterminated string literal (detected at line 1) (2489912231.py, line 1)

In [20]:
a = '''This is python's class'''

print(a)

This is python's class

In [21]:
# line continution character
a = 'This is python\'s class'

print(a)

This is python's class

In [23]:
# Multiline paragraphs


a = 'India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023; and from the time of its independence in 1947, the world\'s most populous democracy'

In [24]:
print(a)

India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023; and from the time of its independence in 1947, the world's most populous democracy

In [26]:
# Multiline paragraphs


a = '''India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023; and from the time of its independence in 1947, the world's most populous democracy'''

In [27]:
print(a)

India, officially the Republic of India, is a country in South Asia. It is the seventh-largest country by area; the most populous country as of June 2023; and from the time of its independence in 1947, the world's most populous democracy

In [28]:
# Multiline paragraphs


a = 'India, officially the Republic of India, is a country in South Asia. 
It is the seventh-largest country by area; the most populous country as of June 2023;
and from the time of its independence in 1947, the world\'s most populous democracy'

print(a)

SyntaxError: unterminated string literal (detected at line 4) (4178531044.py, line 4)

In [30]:
# Multiline paragraphs


a = '''India, officially the Republic of India, is a country in South Asia. 
It is the seventh-largest country by area; the most populous country as of June 2023;
and from the time of its independence in 1947, the world's most populous democracy'''

print(a)

India, officially the Republic of India, is a country in South Asia.
It is the seventh-largest country by area; the most populous country as of June 2023;
and from the time of its independence in 1947, the world's most populous democracy

In [33]:
print("""Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the traveler in the dark
Thanks you for your tiny spark,
How could he see where to go,
If you did not twinkle so?""")

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

Then the traveler in the dark
Thanks you for your tiny spark,
How could he see where to go,
If you did not twinkle so?

In [34]:
# unpacking

a = 'karan'

print(a)

karan

In [35]:
a,b,c,d,e = 'karan'

print('done')

done

In [38]:
print(e)

n

In [39]:
a = 12
b = 34
c = 56
d = a+b+c
print(d)

102

# single line code

In [43]:
a = 12; b = 34; c = 56; d = a+b+c; print(d)

102

In [44]:
# string

In [45]:
a = 'mohan'

print(type(a))

<class 'str'>

In [46]:
a.upper()

'MOHAN'

In [47]:
# some basic operations with string

In [51]:
# concatenate

a = 'Hello'
b = 'World'

print(a + ' '+  b)

Hello World

In [54]:
a = '23'

b = 'happy'

print(a - b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [56]:
a = '23 '

b = 'happy'

print(a + b)

23 happy

In [59]:
a = 'concatenate '

a*5

'concatenate concatenate concatenate concatenate concatenate '

In [60]:
a = 'concatenate '

a/5

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [64]:
a = 'concatenate '

a*5.0

TypeError: can't multiply sequence by non-int of type 'float'

In [65]:
# new line character  \n


a = 'Happy faces'

print(a)

Happy faces

In [66]:
a = '''Happy
faces'''

print(a)

Happy
faces

In [67]:
a = """Happy
faces"""

print(a)

Happy
faces

In [71]:
# new line character  \n

a = 'Happy\n\nfaces'

print(a)

Happy

faces

In [81]:
a = 'concatenate\n'

print(a*3)

concatenate
concatenate
concatenate

In [84]:
# backspace character  \b

a = 'Hello\bworld\b'

print(a)

Helloworld

In [88]:
a = '👍\n'

print(type(a))

<class 'str'>

In [86]:
ord('👍')

128077

In [90]:
print(a*5)

👍
👍
👍
👍
👍

In [91]:
# indexing

In [92]:
a = 'hello world'

print(a)

hello world

In [93]:
a[6]

'w'

In [94]:
a[10]

'd'

In [95]:
# # indexing
# 1>> positive
# 2>> negative

In [96]:
a = 'python'

#    012345:-- +ve
#   -6-5-4-3-2-1:- -ve

In [97]:
a[3]

'h'

In [98]:
a[-3]

'h'

In [99]:
a[3] == a[-3]

True

In [100]:
a = 'python'

a[2]

't'

In [101]:
a[-4]

't'

In [104]:
a = 'we are in techvidya and python is very awesome'


a[-4]

's'

In [105]:
a[-12]

'v'

In [109]:
# slicing:- more than one character

a = 'we are in techvidya and python is very awesome'

a[10:19]

'techvidya'

In [112]:
a[24:46]

'python is very awesome'

In [113]:
a[24:]

'python is very awesome'

In [114]:
# [index]:- indexing
    
# [start:stop+1]:- slicing

In [115]:
print(a)

we are in techvidya and python is very awesome

In [116]:
a[0:19]

'we are in techvidya'

In [117]:
a[:19]

'we are in techvidya'

In [120]:
a[:]

'we are in techvidya and python is very awesome'

In [123]:
a[0:19:2]

'w r ntcvda'

In [124]:
a[0::2]

'w r ntcvdaadpto svr wsm'

In [125]:
a[::2]

'w r ntcvdaadpto svr wsm'

In [126]:
# slicing
# [start:stop:step/skip]

In [127]:
a = 'hello'

# reverse:

a[::-1]

'olleh'

In [128]:
a = 'Python'

a[::-1]

'nohtyP'

In [129]:
g = 'madam'

g

'madam'

In [130]:
g[::-1]

'madam'

In [131]:
# palindrome words:- direct or reverse both are equal

In [132]:
name = 'karan'

name[::-1]

'narak'

In [133]:
name = 'nayan'

name[::-1]

'nayan'

In [135]:
name = 'nayan'
name == name[::-1]

True

In [136]:
# reverse slicing

In [144]:
a = 'This is Elon Musk'

a[8:12]

'Elon'

In [145]:
a[-9:-5]

'Elon'

In [146]:
a = 'This is khatarnak Elon Musk'

a[-19:-10]

'khatarnak'

In [150]:
# string is immutable:- we can not change character of a string

# 'str' object does not support item assignment

In [151]:
a = 'This is khatarnak Elon Musk'

a[-19:-10] = 'Happy'

TypeError: 'str' object does not support item assignment

In [152]:
a = 'This is khatarnak Elon Musk'

a.replace('khatarnak','happy')

'This is happy Elon Musk'

In [155]:
a = 'This is khatarnak Elon Musk'

a = a.replace('khatarnak','happy')

print(a)

This is happy Elon Musk

In [156]:
print(a)

This is happy Elon Musk

In [157]:
a = 'This is khatarnak Elon Musk'


a.replace('Elon Musk','Musk Elon')

'This is khatarnak Musk Elon'

In [161]:
a = 'we are in techvidya'


a = a.upper()

print(a)

WE ARE IN TECHVIDYA

In [178]:
a = 'Hello World'

# print(len(a))
print(a.center(57,'👍'))

👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍Hello World👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍👍